<html>
<head>
</head>
<body>
You are logged in as: <b><%= session['username'] %></b> with <b>ID number: <%= session['user_id'] %></b> and with email:<b> <%= session['email'] %></b><form method=post action=/logout>
<button type="submit">Sign Out</button>
</form>
<br>
 <% if !logged_in? %>
You are not logged in: Please login here:
<form method=post action=/login>

	<input type=text placeholder="Email" name="email"><br>
	<input type=password placeholder="Password" name="password"></br>

<form method=get action=/login>
<button type="submit">Sign In</button></form>
<br>Don't have an account? Sign up here: 
</form><form method=get action=/signup>
<button type="submit">Sign Up</button>
</form>
 <% end %> 
<a href="/questions">See all questions</a>
<a href="/newquestion">Ask a question</a>
<% if current_user %>
<a href='/users/<%= current_user.id %>/questions'>My Questions</a>
<a href='/users/<%= current_user.id %>/answers'>My Answers</a>
<% end %>

</body>


</html>