<html>
<head>
</head>
<body>
<% if logged_in? %>
Hi <b> <%=current_user.first_name%> </b>.
You are logged in as: <b> <%=current_user.username%> </b> 
with <b> ID number: <%= session['user_id'] %> </b> and with email: <b> <%= current_user.email %> </b>
<form method=post action=/logout>
<button type="submit">Sign Out</button>
</form>
<% end %>
<br>
 <% if !logged_in? %>
You are not logged in: Please login here:
<form method=post action=/login>

	<input type=text placeholder="Email" name="email"><br>
	<input type=password placeholder="Password" name="password"></br>

<form method=get action=/login>
<button type="submit">Sign In</button></form>
<br>Don't have an account? Sign up here: 
</form><form method=get action=/signup>
<button type="submit">Sign Up</button>
</form>
 <% end %> 
<a href="/questions">See all questions</a>
<a href="/newquestion">Ask a question</a>
<% if current_user %>
<a href='/users/<%= current_user.id %>/questions'>My Questions</a>
<a href='/users/<%= current_user.id %>/answers'>My Answers</a>
<a href='/users/<%= current_user.id %>/edit'>Edit Profile</a>
<% end %>
</body>


</html>