<html>


<head>
</head>

<body>
<% @questions.each do |question| %>

<a href="/questions/<%=question.id%>"><p> <%= "#{question.id}" + ". " + question.q_text %> </p></a>
<p>By: <%= question.user.username %> </p>
<p> <a href="/questions/<%= question.id%>/answer"><button type="button">Answer</button> </a></p>
<% if current_user  == question.user %>
<a href="questions/<%=question.id%>/edit"><button type="button">Edit Post</button> </a>
<% end %>
<% end %>

</body>

</html>